<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define UniverCell_TargetDir=$(var.UniverCell.TargetDir)?>
	<Product Id="*" Name="Setup" Language="1033" Version="1.0.0.0" Manufacturer="Living Company" UpgradeCode="373e0327-6a87-428b-a9ec-a6d661022eaf">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" CompressionLevel="high"/>

		<Feature Id="ProductFeature" Title="Setup" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="mysql_bin_files" />
			<ComponentGroupRef Id="mysql_share_files" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Setup">
				  <Directory Id="mysql" Name="mysql">
				    <Directory Id="mysql_bin" Name="bin" />
				    <Directory Id="mysql_share" Name="share" />
				  </Directory>
				</Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<!-- <Component Id="ProductComponent"> -->
				<!-- TODO: Insert files, registry keys, and other resources here. -->
			<!-- </Component> -->
			<Component Id="MahApps.Metro.dll" Guid="65b2ab0d-3094-4d0f-aa35-1d19d589c73c">
			  <File Id="MahApps.Metro.dll" Name="MahApps.Metro.dll" Source="$(var.UniverCell_TargetDir)MahApps.Metro.dll" />
			</Component>
			<Component Id="MySql.Data.dll" Guid="7063b42c-a2cb-4ff5-be37-02083285a0cc">
			  <File Id="MySql.Data.dll" Name="MySql.Data.dll" Source="$(var.UniverCell_TargetDir)MySql.Data.dll" />
			</Component>
			<Component Id="Livecharts.dll" Guid="4b78b496-9373-45fa-aa93-329fc8ed3774">
			  <File Id="Livecharts.dll" Name="Livecharts.dll" Source="$(var.UniverCell_TargetDir)Livecharts.dll" />
			</Component>
			<Component Id="LiveCharts.Wpf.dll" Guid="2a86f3d6-78f2-4c60-acde-e11802c72ffa">
			  <File Id="LiveCharts.Wpf.dll" Name="LiveCharts.Wpf.dll" Source="$(var.UniverCell_TargetDir)LiveCharts.Wpf.dll" />
			</Component>
			<Component Id="System.Windows.Interactivity.dll" Guid="300dd2c3-0771-4191-8227-4c896f363a07">
			  <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.UniverCell_TargetDir)System.Windows.Interactivity.dll" />
			</Component>
			<Component Id="UniverCell.exe" Guid="c0ff6247-b7f7-483a-92e4-1cdd28594e27">
			  <File Id="UniverCell.exe" Name="UniverCell.exe" Source="$(var.UniverCell_TargetDir)UniverCell.exe" />
			</Component>
			<Component Id="UniverCell.exe.config" Guid="6f331cdc-c04c-4256-a09b-67e3d0ea4fb8">
			  <File Id="UniverCell.exe.config" Name="UniverCell.exe.config" Source="$(var.UniverCell_TargetDir)UniverCell.exe.config" />
			</Component>
		</ComponentGroup>
	</Fragment>

	<Fragment>

	  <ComponentGroup Id="mysql_bin_files" Directory="mysql_bin">

	    <Component Id="mysql_bin_aria_chk.exe" Guid="e57db8d2-200f-415c-b6bb-b4c4e4909b4f">

	      <File Id="mysql_bin_aria_chk.exe" Name="aria_chk.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\aria_chk.exe" />

	    </Component>

	    <Component Id="mysql_bin_aria_dump_log.exe" Guid="803e6b08-9fee-4559-859c-8e4eef113cd3">

	      <File Id="mysql_bin_aria_dump_log.exe" Name="aria_dump_log.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\aria_dump_log.exe" />

	    </Component>

	    <Component Id="mysql_bin_aria_ftdump.exe" Guid="038c7091-bddc-438e-b98b-24d1ff70eb87">

	      <File Id="mysql_bin_aria_ftdump.exe" Name="aria_ftdump.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\aria_ftdump.exe" />

	    </Component>

	    <Component Id="mysql_bin_aria_pack.exe" Guid="27075599-24fb-4b29-9b10-8e198b72576f">

	      <File Id="mysql_bin_aria_pack.exe" Name="aria_pack.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\aria_pack.exe" />

	    </Component>

	    <Component Id="mysql_bin_aria_read_log.exe" Guid="61cbfc58-6220-4258-9093-c994225240d6">

	      <File Id="mysql_bin_aria_read_log.exe" Name="aria_read_log.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\aria_read_log.exe" />

	    </Component>

	    <Component Id="mysql_bin_echo.exe" Guid="e83d0ea1-ef3b-4902-a4a3-45d7fbdad53c">

	      <File Id="mysql_bin_echo.exe" Name="echo.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\echo.exe" />

	    </Component>

	    <Component Id="mysql_bin_innochecksum.exe" Guid="7b69de3d-b76e-48a6-b7a6-0ff94d5b3c7c">

	      <File Id="mysql_bin_innochecksum.exe" Name="innochecksum.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\innochecksum.exe" />

	    </Component>

	    <Component Id="mysql_bin_myisamchk.exe" Guid="7c9a47da-ceb3-4c46-91d8-c3657877c4c5">

	      <File Id="mysql_bin_myisamchk.exe" Name="myisamchk.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\myisamchk.exe" />

	    </Component>

	    <Component Id="mysql_bin_myisamlog.exe" Guid="e91c5fd7-8767-4596-8684-7f0db0e55854">

	      <File Id="mysql_bin_myisamlog.exe" Name="myisamlog.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\myisamlog.exe" />

	    </Component>

	    <Component Id="mysql_bin_myisampack.exe" Guid="67c4e9c2-1a67-4302-8421-4ac45002de60">

	      <File Id="mysql_bin_myisampack.exe" Name="myisampack.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\myisampack.exe" />

	    </Component>

	    <Component Id="mysql_bin_myisam_ftdump.exe" Guid="b32b0beb-de85-4365-a046-6421ae43d6d2">

	      <File Id="mysql_bin_myisam_ftdump.exe" Name="myisam_ftdump.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\myisam_ftdump.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysql.exe" Guid="b32b47d0-b014-4784-89e5-17b6f2110c69">

	      <File Id="mysql_bin_mysql.exe" Name="mysql.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysql.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysqladmin.exe" Guid="2d69ee62-00d0-4430-8bca-ff8b13b63382">

	      <File Id="mysql_bin_mysqladmin.exe" Name="mysqladmin.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysqladmin.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysqlbinlog.exe" Guid="b50dc6bc-b1c7-4b6d-8a19-34a1c9b6f45a">

	      <File Id="mysql_bin_mysqlbinlog.exe" Name="mysqlbinlog.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysqlbinlog.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysqlcheck.exe" Guid="70e646ff-8ee4-42f6-8b09-b7e190a7bbcf">

	      <File Id="mysql_bin_mysqlcheck.exe" Name="mysqlcheck.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysqlcheck.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysqld.exe" Guid="1e967446-c396-415c-a247-76ecf5301a0b">

	      <File Id="mysql_bin_mysqld.exe" Name="mysqld.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysqld.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysqldump.exe" Guid="d5f9fd59-0189-4192-8e0b-be4da3a0812d">

	      <File Id="mysql_bin_mysqldump.exe" Name="mysqldump.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysqldump.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysqlimport.exe" Guid="8f47bd5d-ea43-4fa5-9576-8c6ad6d304db">

	      <File Id="mysql_bin_mysqlimport.exe" Name="mysqlimport.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysqlimport.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysqlshow.exe" Guid="d1e8d5e8-c097-487c-8f10-62f3e29f4834">

	      <File Id="mysql_bin_mysqlshow.exe" Name="mysqlshow.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysqlshow.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysqlslap.exe" Guid="539336f6-f550-4480-a0d6-957cee48bf19">

	      <File Id="mysql_bin_mysqlslap.exe" Name="mysqlslap.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysqlslap.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysqltest.exe" Guid="1d646e0c-068b-46a8-ba2c-b708c9d0f4a7">

	      <File Id="mysql_bin_mysqltest.exe" Name="mysqltest.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysqltest.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysqltest_embedded.exe" Guid="89f513bb-953c-4db5-aaf6-2706c6260c66">

	      <File Id="mysql_bin_mysqltest_embedded.exe" Name="mysqltest_embedded.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysqltest_embedded.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysql_client_test.exe" Guid="4e99f577-bd2d-438e-8272-7e5efc165d0e">

	      <File Id="mysql_bin_mysql_client_test.exe" Name="mysql_client_test.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysql_client_test.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysql_client_test_embedded.exe" Guid="d9abf524-3286-48f3-9c00-4a9d6a4ce490">

	      <File Id="mysql_bin_mysql_client_test_embedded.exe" Name="mysql_client_test_embedded.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysql_client_test_embedded.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysql_embedded.exe" Guid="45dc0107-aadc-458e-ac96-a61fcaa0b79e">

	      <File Id="mysql_bin_mysql_embedded.exe" Name="mysql_embedded.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysql_embedded.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysql_install_db.exe" Guid="0151b00c-476d-467c-8fe6-6c83cb4e6f46">

	      <File Id="mysql_bin_mysql_install_db.exe" Name="mysql_install_db.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysql_install_db.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysql_plugin.exe" Guid="01a6eca2-14b4-498e-be9d-c9482443ea8b">

	      <File Id="mysql_bin_mysql_plugin.exe" Name="mysql_plugin.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysql_plugin.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysql_tzinfo_to_sql.exe" Guid="0ae84e7e-b804-4e34-bc8b-7c9ae0638704">

	      <File Id="mysql_bin_mysql_tzinfo_to_sql.exe" Name="mysql_tzinfo_to_sql.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysql_tzinfo_to_sql.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysql_upgrade.exe" Guid="3fcb2df5-7697-41a2-93ea-25d45b16ac8a">

	      <File Id="mysql_bin_mysql_upgrade.exe" Name="mysql_upgrade.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysql_upgrade.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysql_upgrade_service.exe" Guid="95295780-b559-4a30-923b-080946dfbe38">

	      <File Id="mysql_bin_mysql_upgrade_service.exe" Name="mysql_upgrade_service.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysql_upgrade_service.exe" />

	    </Component>

	    <Component Id="mysql_bin_mysql_upgrade_wizard.exe" Guid="2c568f53-49b3-4c16-8a17-6a8540b0e7e0">

	      <File Id="mysql_bin_mysql_upgrade_wizard.exe" Name="mysql_upgrade_wizard.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\mysql_upgrade_wizard.exe" />

	    </Component>

	    <Component Id="mysql_bin_my_print_defaults.exe" Guid="3314ee57-11c4-434f-95da-e9ba0f988bad">

	      <File Id="mysql_bin_my_print_defaults.exe" Name="my_print_defaults.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\my_print_defaults.exe" />

	    </Component>

	    <Component Id="mysql_bin_perror.exe" Guid="84116ee3-1450-4853-8373-8ee7cfc72488">

	      <File Id="mysql_bin_perror.exe" Name="perror.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\perror.exe" />

	    </Component>

	    <Component Id="mysql_bin_replace.exe" Guid="46b2422e-ae8c-4705-ad05-935d206995fc">

	      <File Id="mysql_bin_replace.exe" Name="replace.exe" Source="$(var.UniverCell_TargetDir)mysql\bin\replace.exe" />

	    </Component>

	  </ComponentGroup>

	</Fragment>

	<Fragment>

	  <ComponentGroup Id="mysql_share_files" Directory="mysql_share">

	    <Component Id="mysql_share_fill_help_tables.sql" Guid="64d491ed-e9de-4c91-9df6-ec90a3a21206">

	      <File Id="mysql_share_fill_help_tables.sql" Name="fill_help_tables.sql" Source="$(var.UniverCell_TargetDir)mysql\share\fill_help_tables.sql" />

	    </Component>

	    <Component Id="mysql_share_install_spider.sql" Guid="e88d1e0a-1201-40ac-a9c2-13b01728fd4b">

	      <File Id="mysql_share_install_spider.sql" Name="install_spider.sql" Source="$(var.UniverCell_TargetDir)mysql\share\install_spider.sql" />

	    </Component>

	    <Component Id="mysql_share_maria_add_gis_sp.sql" Guid="be02699d-c042-4a34-a9d3-c244fd45cda0">

	      <File Id="mysql_share_maria_add_gis_sp.sql" Name="maria_add_gis_sp.sql" Source="$(var.UniverCell_TargetDir)mysql\share\maria_add_gis_sp.sql" />

	    </Component>

	    <Component Id="mysql_share_maria_add_gis_sp_bootstrap.sql" Guid="fe3185ed-ccb5-4226-903e-3dbdb6f02f40">

	      <File Id="mysql_share_maria_add_gis_sp_bootstrap.sql" Name="maria_add_gis_sp_bootstrap.sql" Source="$(var.UniverCell_TargetDir)mysql\share\maria_add_gis_sp_bootstrap.sql" />

	    </Component>

	    <Component Id="mysql_share_mysql_performance_tables.sql" Guid="2941afe0-ce04-4be7-bdca-1cbd279a1813">

	      <File Id="mysql_share_mysql_performance_tables.sql" Name="mysql_performance_tables.sql" Source="$(var.UniverCell_TargetDir)mysql\share\mysql_performance_tables.sql" />

	    </Component>

	    <Component Id="mysql_share_mysql_system_tables.sql" Guid="e13bd436-5ac4-4bfc-b828-cfb1a8db54a0">

	      <File Id="mysql_share_mysql_system_tables.sql" Name="mysql_system_tables.sql" Source="$(var.UniverCell_TargetDir)mysql\share\mysql_system_tables.sql" />

	    </Component>

	    <Component Id="mysql_share_mysql_system_tables_data.sql" Guid="f5309b5a-6879-443c-807d-b3fc2301ea29">

	      <File Id="mysql_share_mysql_system_tables_data.sql" Name="mysql_system_tables_data.sql" Source="$(var.UniverCell_TargetDir)mysql\share\mysql_system_tables_data.sql" />

	    </Component>

	    <Component Id="mysql_share_mysql_test_data_timezone.sql" Guid="ddb8be1f-3b30-4887-b12e-594b94cf8646">

	      <File Id="mysql_share_mysql_test_data_timezone.sql" Name="mysql_test_data_timezone.sql" Source="$(var.UniverCell_TargetDir)mysql\share\mysql_test_data_timezone.sql" />

	    </Component>

	    <Component Id="mysql_share_mysql_to_mariadb.sql" Guid="7a749c68-86df-46f0-adf8-a8e5635b1caa">

	      <File Id="mysql_share_mysql_to_mariadb.sql" Name="mysql_to_mariadb.sql" Source="$(var.UniverCell_TargetDir)mysql\share\mysql_to_mariadb.sql" />

	    </Component>

	  </ComponentGroup>

	</Fragment>
</Wix>
